Repository united-manufacturing-hub/united-manufacturing-hub, pull requests merged in 2021-12, with the labels that each got.

#732 fix: No client id & username
  deployment/factorycube-server/templates/vernemq-configmap.yaml
  golang/cmd/mqtt-kafka-bridge/main.go
  golang/cmd/mqtt-kafka-bridge/mqtt.go
Labels: type: bug, lang: go

#748 fix: added better json error message
  golang/cmd/mqtt-kafka-bridge/kafka.go
  golang/cmd/mqtt-kafka-bridge/mqtt.go
Labels: type: enhancement, lang: go

#759 fix: moved pull request template in accordance with https://stackoverflow.com/a/62613198
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: bug

#747 fix: mqtt kafka bridge not re subscribing after mqtt disconnection
  golang/cmd/mqtt-kafka-bridge/kafka.go
  golang/cmd/mqtt-kafka-bridge/mqtt.go
  golang/internal/cache.go
Labels: type: bug, lang: go

#766 feat: Added helper function to download iodd files from https://ioddfinder.io-link.com/
  golang/internal/ioddfinder.go
  golang/internal/ioddfinder_test.go
Labels: type: enhancement, lang: go

#754 correct api rbac statement
  deployment/factorycube-edge/Chart.yaml
  deployment/factorycube-edge/templates/emqxedge-rbac.yaml
  deployment/factorycube-server/Chart.yaml
  deployment/helm-repo/factorycube-edge-0.7.1.tgz
  deployment/helm-repo/factorycube-server-0.7.1.tgz
  deployment/helm-repo/index.yaml
Labels: type: bug, lang: k8s

#769 feat: Iodd download helper
  golang/internal/ioddfinder.go
  golang/internal/ioddfinder_test.go
Labels: type: bug, lang: go

#764 feat: Added documentation for current kafka retention settings
  docs/content/en/docs/Concepts/datamodel/_index.md
  docs/content/en/docs/Concepts/datamodel/kafka/index.md
Labels: type: documentation
